*, *:before, *:after{
  box-sizing: border-box;
}
html {
  font-family: source;
}

body {
  background: rgb(2,0,36);
  background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(121,9,32,1) 48%, rgba(255,145,0,1) 100%);
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
  margin: 0;
  overflow: auto;
}

.quiz-container {
background-color: #fff;
border-radius: 10px;
box-shadow:  5px 5px 10px rgb(175, 175, 89);
width: 350px;
overflow: hidden;
}

.quiz-header {
  padding: 4em;
}

h2 {
  padding: 1em;
  text-align: center;
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  font-size: .9em;
  margin: .5em 0;
}

ul li label{
  cursor: pointer;
}

html {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  color: #444;
}

.hide {
  display: none;
}
.button {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0;
  padding: 1.5rem 3.125rem;
  background-color: #3498db;
  border: none;
  border-radius: 0.3125rem;
  box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.2);
  color: white;
  font-weight: 300;
  text-transform: uppercase;
  overflow: hidden;
}
.button:before {
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #54d98c;
}
.button span {
  position: absolute;
  line-height: 0;
}
.button span i {
  transform-origin: center center;
}
.button span:nth-of-type(1) {
  top: 50%;
  transform: translateY(-50%);
}
.button span:nth-of-type(2) {
  top: 100%;
  transform: translateY(0%);
  font-size: 24px;
}
.button span:nth-of-type(3) {
  display: none;
}
.active {
  background-color: #2ecc71;
}
.active:before {
  width: 100%;
  transition: width 3s linear;
}
.active span:nth-of-type(1) {
  top: -100%;
  transform: translateY(-50%);
}
.active span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
}
.active span:nth-of-type(2) i {
  animation: loading 500ms linear infinite;
}
.active span:nth-of-type(3) {
  display: none;
}
.finished {
  background-color: #54d98c;
}
.finished .submit {
  display: none;
}
.finished .loading {
  display: none;
}
.finished .check {
  display: block !important;
  font-size: 24px;
  animation: scale 0.5s linear;
}
.finished .check i {
  transform-origin: center center;
}
@keyframes loading {
  100% {
    transform: rotate(360deg);
 }
}
@keyframes scale {
  0% {
    transform: scale(10);
 }
  50% {
    transform: scale(0.2);
 }
  70% {
    transform: scale(1.2);
 }
  90% {
    transform: scale(0.7);
 }
  100% {
    transform: scale(1);
 }
}
